@font-face {
    font-family: "SkolaSans";
    src: url("SkolaSans-Regular.eot"); /* IE9 */
    src: url("SkolaSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SkolaSans-Regular.woff") format("woff"), /* chrome, firefox */
    url("SkolaSans-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SkolaSans-Regular.svg#SkolaSans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


