.o-button {
  align-items: center;
  background-color: $button-color;
  border-radius: 60px;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 20px 30px;
  text-decoration: none;
  transition: all 0.5s ease;

  @include media(large) {
    padding: 20px 40px;
  }

  &:hover {
    background-color: darken($button-color, 5%);
  }

  svg {
    display: inline-block;
    height: 1.87em;
    margin-right: 16px;
    vertical-align: middle;
    width: 1.87em;
  }

  span {
    border-left: 1px solid $button-divider;
    font-size: 1rem;
    line-height: 1.4;
    padding-left: 20px;
  }
}
