@mixin hamburger-menu() {
  content: '';
  display: block;
  position: absolute;
}

@mixin hamburger-bar() {
  width: 24px;
  height: 4px;
  background: #fff;
  transition: all .3s;
}

.o-hamburger {
  position: relative;
  display: inline-block;
  border: 0;
  outline: none;
  background: none;
  z-index: 3;
  @include hamburger-bar();

  &::before {
    top: -8px;
    @include hamburger-menu();
    @include hamburger-bar();
  }

  &::after {
    top: 8px;
    @include hamburger-menu();
    @include hamburger-bar();
  }
}

.active .o-hamburger {
  background: none;

  &::before {
    top: 0 !important;
    transform: rotate(-45deg);
  }

  &::after {
    top: 0 !important;
    transform: rotate(45deg);
  }
}
