.o-heading {
  color: inherit;
  font-weight: 300;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;

  @include media(medium) {
    @include font-size(40px);
  }

  &::after {
    background: $white;
    bottom: -33px;
    content: '';
    height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
