.c-article-content {
  display: inline-block;
  padding: 50px;

  &__title {
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 1rem;
    @include font-size(20px);
  }

  &__resume {
    font-size: 1rem;
    font-weight: 300;
  }
}
