.c-article-caption {
  color: $article-caption-color;
  background-color: $article-caption-background;

  &__counter {
    display: none;
  }

  @include media(medium) {
    display: flex;

    &__counter {
      display: block;
      flex: 1 1 span(2 of 12);
      align-self: center;
      text-align: center;
      @include font-size(60px);

      span {
        opacity: .3;
        @include font-size(20px);
      }
    }

    .c-article-content {
      flex: 1 1 span(10 of 12);
      text-align: left;
    }
  }
}
