.c-article-block {

  &__photo {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(rgba($black, 0), rgba($black, .5));
    }
  }

  @include media(medium) {
    margin: 0 auto;
    max-width: 940px;
  }
}
