.c-banner-divider {
  width: 100%;
  height: 30%;
  background-image: url('../img/torcida.jpg');
  background-size: cover;

  @include media(small) {
    height: 60%;
    background-attachment: fixed;
  }
}
