.c-footer {
  text-align: center;

  @include media(medium) {
    .o-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;

    svg {
      width: 190px;
      fill: $footer-logo;
    }
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: $footer-background;

    svg {
      width: 1em;
      height: 1em;
      font-size: 34px;
      opacity: .3;
    }
  }
}
