.c-intro-text {
  padding: 40px 20px;

  @include media(medium) {
    padding: 40px 60px;
  }

  &__title {
    margin-bottom: 26px;
    color: $intro-title;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__resume {
    color: $intro-text;
    font-weight: 300;
    line-height: 24px;
    @include font-size(16px);
  }
}
