.c-media-item {
  position: relative;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: $media-item-background;

  &::before {
    content:url('../img/play.png');
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__photo {
    transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1);
    transition: transform 0.5s, opacity 0.5s;
    opacity: .8;

    &:hover {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1);
    }
  }
}
