.c-media-gallery {
  color: $media-color;
  text-align: center;
  background-color: $media-background;

  li + li {
    margin-top: 30px;
  }

  @include media(medium) {
    background: $media-background url(../img/background-donations.jpg) no-repeat center;
    background-size: cover;

    ul {
      display: flex;
    }

    li {
      flex: 1 1 span(3 of 12);
      padding: gutter(of 12);

      & + li {
        margin-top: 0;
      }
    }
  }
}
