.c-menu-nav {
  align-items: center;
  background-color: $menu-background;
  border-bottom: 8px solid $menu-border;
  display: flex;
  height: 70px;
  justify-content: flex-start;
  padding: 0 5%;

  @include media(large) {
    background: $menu-background url('../img/background-menu.jpg') no-repeat left top;
    height: 120px;

    .o-hamburger {
      display: none;
    }
  }

  &__logo {
    max-width: 80px;
    position: relative;
    width: 100%;

    @include media(large) {
      max-width: 160px;
    }
  }

  &__logo svg {
    fill: $menu-logo;
    width: 100%;
  }

  button {
    margin-left: auto;
  }
}
