.c-menu-list {
  z-index: 2;
  text-align: center;
  background-color: $menu-list-background;
  padding: 4em 1.5em 0;
  margin: 0;
  height: 100%;
  width: 80%;
  max-width: 320px;
  position: fixed;
  top: 0;
  right: -90%;
  transition: right .4s ease-out;

  &__item {
    margin-bottom: 30px;
    color: $menu-list-color;
    @include font-size(20px);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  @include media(large) {
    position: relative;
    right: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    max-width: none;
    height: initial;
    text-align: right;
    background: none;

    ul {
      display: inline-block;
    }

    &__item {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1rem;

      a {
        position: relative;
        padding: 0 27px;
      }

      & + & a:not(.o-button)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 26px;
        background: $menu-list-border;
        top: 50%;
        left: 0;
        margin-top: -13px;
      }
    }
  }
}

.active .c-menu-list {
  right: 0;
  box-shadow: 0 0 0 99999px rgba($black, .8);
}
