.c-sendmail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  border-radius: 30px;
  background-color: $send-mail-background;

  @include media(medium) {
    margin: 0 auto;
    max-width: 510px;
  }

  &__input {
    background: none;
    border: 0;
    outline: 0;
    padding: 30px 0;
    width: 80%;
    @include font-size(16px);

    &::placeholder { // Firefox
      color: $send-mail-placeholder;
      opacity: 1;
    }

    &:-ms-input-placeholder { // Internet Explorer 10-11
     color: $send-mail-placeholder;
    }

    &::-ms-input-placeholder { // Microsoft Edge
     color: $send-mail-placeholder;
    }
  }

  &__button {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
    margin-left: auto;

    svg {
      width: 1em;
      height: 1em;
      font-size: 20px;
      fill: $send-mail-button;
    }
  }
}
