.c-social-links {
  &__item {
    display: inline-block;

    & + & {
      margin-left: 22px;
    }

    a {
      position: relative;
      display: block;
      width: 58px;
      height: 58px;
      border: 2px solid $footer-icons;
      border-radius: 50%;
      transition: all 0.3s ease;

      &:hover {
        background-color: $footer-icons;

        svg {
          fill: $white;
        }
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      font-size: 26px;
      fill: $footer-icons;
      transform: translate(-50%, -50%);
    }
  }
}
