$red100: #da1900;
$red200: #a50000;

$gray100: #eee;
$gray200: #666;

$black: #000;
$white: #fff;

$button-color: $red100;
$button-divider: $red200;

$menu-background: $red200;
$menu-border: $red100;
$menu-logo: $white;

$menu-list-background: $red200;
$menu-list-color: $white;
$menu-list-border: $red100;

$intro-title: $red200;
$intro-text: $gray200;

$media-background: $red200;
$media-color: $white;

$media-item-background: $black;

$mailing-background: $red100;
$mailing-color: $white;

$send-mail-background: $white;
$send-mail-placeholder: $red100;
$send-mail-button: $red100;

$article-caption-background: $red100;
$article-caption-color: $white;

$footer-background: $gray100;
$footer-logo: $red100;
$footer-icons: $red100;
