@include font-face('SkolaSans','../fonts/SkolaSans-Light', 300, lighter);
@include font-face('SkolaSans','../fonts/SkolaSans-Regular', 400);
@include font-face('SkolaSans','../fonts/SkolaSans-Medium', 500);
@include font-face('SkolaSans','../fonts/SkolaSans-Bold', 700, bold);
@include font-face('SkolaSans','../fonts/SkolaSans-Black', 900);

body {
  font-family: 'SkolaSans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}
